# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
env/
.venv/
.Python

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# If you want to ignore migration files (optional)
# **/migrations/
# !*/migrations/__init__.py

# Secrets / Environment
.env
*.env

# VSCode / IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
